.profile-name {
    font-weight: bold !important;
    font-size: 2rem !important;
    margin: 4px 0 !important;
}

.profile-title {
    font-size: 1.2rem !important;
}

.profile-description {
    font-size: 1rem !important;
    margin: 0 0 8px 0 !important;
}

.profile-card-title {
    font-weight: bold !important;
    font-size: 1.2rem !important;
    margin: 4px 0 16px 0 !important;
}

.profile-card-section-title {
    margin: 4px 0 !important;
    font-size: 0.8rem !important;
    font-weight: bold !important;
    color: #999;
}

.profile-card-section-content {
    margin: 4px 0 !important;
}